<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        min-width: 700px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-container {
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="/user">
                <h1>Signup</h1>
                <label for="name">Full Name </label>
                <input type="text" placeholder="https://example.com" name="name" required id="name">
                <label for="email">Email </label>
                <input type="email" placeholder="abc@example.com" name="email" required id="email">
                <label for="password">Password </label>
                <input type="password" name="password" required id="password">
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>
</body>
</html>